@import '@fontsource/commissioner';
@import '@fontsource/nunito-sans';

* {
	position: relative;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--white: #fcfffc;
	--black: #282928;
	--gray: #747474;
	--blue: #00a3cf;
	--mintgreen: #d1ffd7;
	--green: #23f0c7;
	--purple: #6457a6;
	--pink: #ff9fb2;
	--title-font: Commissioner, Verdana, serif;
	--paragraph-font: 'Nunito Sans', Arial, sans-serif;
}

html,
body {
	width: 100%;
	height: 100%;
	font-family: var(--paragraph-font);
	font-size: 14px;
	color: var(--black);
	background-color: var(--white);
}

@media (min-width: 600px) {
	html, body {
		font-size: 15px;
	}
}

@media (min-width: 980px) {
	html, body {
		font-size: 16px;
	}
}

@media (min-width: 1260px) {
	html, body {
		font-size: 18px;
	}
}

@media (min-width: 1950px) {
	html, body {
		font-size: 20px;
	}
}

h1, h2, h3 {
	font-family: var(--title-font);
}

main {
	height: 500px;
}

a {
	text-decoration: none;
	color: var(--black);
}

a:not(.a-esc) {
	border-bottom: 2px solid var(--blue);
}

a:not(.a-esc):hover {
	color: var(--blue);
}